.container-fluid {
  /* height: 50vh; */
  padding-top: 20px;
}
/* left */

.container-fluid h1 {
  text-align: center;
  margin-bottom: 20px;
  font-family: cursive;
}
 input {
  background-color: rgba(120, 202, 235, 0.4) !important;
  height: 50px;
  border: none;
  border-radius: 10px;
}

.title-con .add {
  display: inline-block;
  width: 100%;
  height: 100%;
  border: 1px solid green;
  font-size: 30px;
  background: #5c9967;
  border-radius: 10px;
}
.title-con .add i {
  color: #faf7f2;
}
.sec {
  border: 1px solid red;
}
