.container-fluid {
  height: 100vh;
  padding-top: 20px;
  background-color: #faf7f2;
}
/* left */
.left {
  width: 20% !important;
}
.container-fluid h1,
.container-fluid h3 {
  font-family: cursive;
}
.left h1{
    font-family: 'im';

}
.container-fluid  h1 {
  color: #f87777;
  /* font-size: 17.28px; */
  font-weight: bold;
  letter-spacing: 5px;
  text-align: center;
  margin-bottom: 20px;
}
input {
  background-color: rgba(120, 202, 235, 0.4) !important;
  height: 50px;
  border: none;
  border-radius: 10px;
}

.title-con .add {
  display: inline-block;
  width: 100%;
  height: 100%;
  border: 1px solid green;
  font-size: 30px;
  background: #5c9967;
  border-radius: 10px;
}
.title-con .add i {
  color: #faf7f2;
}
/* bottom */
.right .card {
  background: #f0d1a8;
  border-radius: 15px;
  margin-top: 80px;
}
.right .card button {
  background: transparent;
  border: none;
}
.right .card button i {
  background: transparent;
  font-size: 24px;
}
